body {
    padding-bottom: 50px;
}

.picture {
    padding: 10px;
}

.image {
    height: 250px;
    background: midnightblue;
    cursor: pointer;
    border-radius: .5rem;
    border: solid .1rem;
    border-image:
        linear-gradient(bottom to top,
            rgba(250, 250, 250, 0.1),
            rgba(250, 240, 250, 0.2),
            rgba(250, 250, 250, 0.3),
            rgba(250, 250, 250, 0.4),
            rgba(250, 250, 250, 0.5),
            rgba(250, 250, 250, 0.6),
            rgba(250, 250, 250, 0.7),
            rgba(250, 250, 250, 0.8),
            rgba(250, 250, 250, 0.9),
            rgba(250, 250, 250, 1));
}

.collage {
    position: relative;
}

.active {
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 50%;
    width: 50%;
    left: 50%;
    bottom: 50%;
    transform: translate3d(-50%, 50%, 0);
}

.image-description {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    margin-top: 2rem;
    margin: 1rem;
    margin-top: 25%;
}

.poke {
    font-weight: bold;
    position: relative;
}

/* .poke:hover::after {
    width: 200%;
    background-image: none;
    height: 400%;
    left: 0;
    transform: translateY(-100%);
    position: absolute;
} */

#chaserGameContainer {
    position: relative;
    overflow: hidden;
}

.chaser {
    position: absolute;
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    transition: all 100ms ease-in;
    /* transition: left 50ms ease-in-out;
    transition: top 50ms ease-in-out; */
}

.runner {
    width: 50px;
    height: 50px;
    background: green;
    border-radius: 50%;
}

.box {
    border: 1px solid grey;
    height: 350px;
}

.carouselContainer {
    background: royalblue;
    height: 400px;
    background-image: url(./assets/carousel/image1.webp);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* position: relative; */
}

/* .carouselContainer::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
}

.carouselContainer:hover::after {
    opacity: 1;
    animation: opacity 2s 1s infinite;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
} */

.title {
    font-size: 1.5em;
    margin-top: 100px;
    margin-bottom: 20px;
}

.lightMode {
    background: rgb(245, 245, 245);
    color: rgb(10, 10, 10);
}

.darkMode {
    background: rgb(10, 10, 10);
    color: rgb(245, 245, 245);
}

.bigTitle {
    font-size: 2.5em;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.mode {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 47px;
    height: 50px;
    width: 50px;
    border: 1px solid grey;
    border-radius: 50%;
}

.mode:hover {
    cursor: pointer;
}